<% include parts/header %>
<div class="banner">
	<img src="build/img/banner-small-2.jpg" alt="">
</div>

<section class="featured page-section">
	<div class="row">
		<div class="small-12 columns">
			<h1 class="page-section-title">Em destaque</h1>
		</div>
	</div>
</section>



<% include parts/footer %>